<div class="flex justify-center bg-gray-100">
  <h1 class="text-4xl font-bold text-gray-800">Sklep z częściami elektronicznymi</h1>
</div>

<div class="products">
  <div *ngFor="let product of products" class="product">
    <img [src]="product.imagePath" alt="{{ product.name }}" />
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>Cena: {{ product.price | currency:'PLN':'symbol':'1.2-2' }}</p>
    <button (click)="addToCart(product)">Dodaj do koszyka</button>
  </div>
</div>

<hr />

<h2>Koszyk zakupowy</h2>

<div class="cart" *ngIf="cart.length > 0; else emptyCart">
  <div *ngFor="let item of cart; index as i" class="cart-item">
    <p>{{ item.name }} - {{ item.price | currency:'PLN':'symbol':'1.2-2' }}</p>
    <button (click)="removeFromCart(i)">Usuń</button>
  </div>
  <p><strong>W sumie: {{ getTotalPrice() | currency:'PLN':'symbol':'1.2-2' }}</strong></p>
</div>

<ng-template #emptyCart>
  <p>Twój koszyk jest pusty.</p>
</ng-template>
<div>
  <button (click)="goToPayment()">Do kasy</button>
</div>
